files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/13_solr_commands.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd $EB_CONFIG_APP_ONDECK
      su -c "leader_only rake sunspot:solr:start && rake sunspot:solr:reindex" $EB_CONFIG_APP_USER ||
      echo "Rake task failed to run, skipping solr start and indexing."
      true