
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable" style="margin-top: -15px; padding-top: 8px; margin-bottom: 5px; padding-bottom: 8px; text-align: center;">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $("body").on("click", function(e) {
      $("div.alert").fadeOut(500).slideUp(1000);
    });

    var remove_flash_msg = function() {
      $("div.alert").fadeOut(1500).slideUp(2000);
    }
    window.setTimeout(remove_flash_msg, 2000);
  });  
</script>