
<div class="row col-md-10 contact-box result">
  <div class="col-md-2">
    <%= link_to (image_tag "sadface.jpg", class: 'img-responsive classified-img') %>
  </div>
  <div class="col-md-10 row ?pull-right classified-info">
    <h3> We are sorry. There are no postings that match your search term. </h3>
  </div>
</div>
