

<div class="row wrapper">

  <div class="row col-md-12 ?animated ?fadeInRight" style="margin-left: 10px; margin-right: 10px;">


    <div class="col-md-4 search-result animated fadeInUp ?hidden" >
      <div class="ibox float-e-margins">
        <div class="ibox-title title">
          <h5>Intro to Algorithms</h5>
        </div>
        <div class="auto result-item">
          <div class="ibox-content ?no-padding border-left-right">
            <%= image_tag("book1.jpg", class: "img-responsive") %>
          </div>
          <div class="ibox-content profile-content">
            <table class="table table-bordered">
              <tbody>
                <tr class="edition">
                  <td>Edition</td>
                  <td class="val">2</td>
                </tr>                    
                <tr class="publisher">
                  <td>Publisher</td>
                  <td class="val">Penguin House</td>
                </tr>
                <tr class="isbn10">
                  <td>ISBN 10</td>
                  <td class="val">9876543210</td>
                </tr>
                <tr class="isbn13">
                  <td>ISBN 13</td>
                  <td class="val">9876543210123</td>
                </tr>
              </tbody>
            </table>
            <br/>
            <h5>Description</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
            <div class="row m-t-lg"></div>
            <div class="user-button">
              <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-danger btn-sm btn-block clear"><i class="fa fa-times"></i> Clear</button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary btn-sm btn-block select"><i class="fa fa-share"></i> Select</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-8 item-info" style="display: none;">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Item Information</h5>
        </div>
        <div class="ibox-content">
          <div class="item-form">
            <div class="?ibox float-e-margins">
              <div class="?ibox-content">
                <form method="get" class="form-horizontal listing-form">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                      <input type="text" disabled="" class="form-control title">
                    </div>
                  </div>
<!-- 
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Edition</label>
                    <div class="col-sm-10">
                      <input type="text" disabled="" class="form-control edition">
                    </div>
                  </div>
-->                        
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Edition</label>
                    <div class="col-sm-10">
                      <select class="form-control m-b" name="account">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Publisher</label>
                    <div class="col-sm-10">
                      <input type="text" disabled="" class="form-control publisher">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">ISBN 10</label>
                    <div class="col-sm-10">
                      <input type="text" disabled="" class="form-control isbn10">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-2 control-label">ISBN 13</label>
                    <div class="col-lg-10">
                      <input type="text" disabled="" class="form-control isbn13">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-2 control-label">Max. Retail Price</label>
                    <div class="col-lg-10">
                      <p class="form-control-static">Rs 430</p>
                    </div>
                  </div>

                  <div class="hr-line-dashed"></div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Condition</label>
                    <div class="col-sm-10">
                      <div id="basic_slider" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                        <div class="noUi-base">
                          <div class="noUi-origin noUi-connect" style="left: 49.7076023%;">
                            <div class="noUi-handle noUi-handle-lower"></div>
                          </div>
                        </div>
                      </div>
                      <div style="padding: 5px;"> <span>Heavily Used</span><span style="margin-left: 35%">Fair</span><span style="float: right">Like New</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Optional</label>
                    <div class="col-sm-10">
                      <label class="checkbox-inline i-checks">Has pen marks
                        <div class="icheckbox_square-green" style="position: relative;">
                          <input type="checkbox" value="option1" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins>
                        </div>
                      </label>
                      <label class="checkbox-inline i-checks">Lose binding
                        <div class="icheckbox_square-green" style="position: relative;">
                          <input type="checkbox" value="option2" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins>
                        </div>
                      </label>
                      <label class="checkbox-inline i-checks">Some pages torn
                        <div class="icheckbox_square-green" style="position: relative;">
                          <input type="checkbox" value="option3" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Suggested Price</label>
                    <div class="col-lg-10">
                      <input type="text" disabled="" placeholder="Rs 260" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Selling Price</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Upload Pictures</label>
                    <div class="col-lg-10">
                      <div id="my-awesome-dropzone" class="dropzone dz-clickable" action="/file-upload">
                        <div class="dropzone-previews"></div>
                        <div class="dz-default dz-message"><span>Drop files here to upload</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Comments</label>
                    <div class="col-sm-10">
                      <textarea class="form-control sell-form-comments"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                      <button class="btn btn-primary pull" type="submit">Save changes</button>
                      <button class="btn btn-white push" type="submit">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- </body> -->
<script type="text/javascript">
</script>
<style type="text/css">

  .bordered {
    border: 1px solid gray;
  }

  #page-wrapper {
    margin: 0px;
    padding: 0px;
  }

  .navbar-inverse {
    background-color: #2a3947;
    border-color: #2a3947;
  }

  #navbar-collapse-01 > ul.nav.navbar-nav.navbar-left > li > a {
    color: white;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 18px;
  }

  #navbar-collapse-01 > ul.nav.navbar-nav.navbar-right > li > a {
    color: white;
  }

  .wrapper {
    padding: 0px;
  }

  .banner-top {
    margin-top: -40px !important;
    min-height: 400px;
    background-color: #29aae1;
  }
  
  .row.search {
    margin-top: 80px;
  }
  
  .search button {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .navbar {
    border-radius: 0px !important;
  }
  
  .navbar .divider-vertical {
    height: 20px;
    margin-top: 15px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
  }
  
  .navbar-inverse .divider-vertical {
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
  }
  
  @media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
      display: none;
    }
  }

  .noUi-background {
    background: #3FB8AF;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  }

  .noUi-connect {
    background: #FAFAFA;
    box-shadow: inset 0 1px 1px #f0f0f0;
    -webkit-transition: background 450ms;
    transition: background 450ms;
  }

  /* to make dropzone fit in the new form */
  
  .dropzone {
    min-height: 200px !important;
    height: 200px !important;
  }

  .dropzone .dz-default.dz-message {
    background-size: 80%;
    width: 228px;
    height: 53px;
    margin-left: -214px;
    margin-top: -61.5px;
    top: 65%;
    left: 60%;
  }

  .sell-form-comments {
    min-height: 120px;
  }

</style>


<script type="text/javascript">
  $(document).ready(function () {

    var books_data  = [
                        {
                          value: "jquery",
                          label: "jQuery",
                          desc: "the write less, do more, JavaScript library",
                          icon: "jquery_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        }, {
                          value: "jquery-ui",
                          label: "jQuery UI",
                          desc: "the official user interface library for jQuery",
                          icon: "jqueryui_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        }, {
                          value: "sizzlejs",
                          label: "Sizzle JS",
                          desc: "a pure-JavaScript CSS selector engine",
                          icon: "sizzlejs_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        },
                        {
                          value: "jquery-ui",
                          label: "jQuery UI",
                          desc: "the official user interface library for jQuery",
                          icon: "jqueryui_32x32.png",
                          img_src: "http://dummyimage.com/60X60"
                        }
                     ];


    // $("#search-box").autocomplete({

    //   source: books_data,
    //   search: function(event, ui) {
    //     $("div.search-result").slideUp();
    //     $("div.item-info").slideUp();
    //   }, 
    //   focus: function (event, ui) {
    //     $("#search-box").val(ui.item.label);
    //     return false;
    //   },
    //   select: function (event, ui) {
    //     console.log("selected");
    //     $("div.search-result").slideDown();
    //     $("#search-box").val("");
    //     return false;
    //   }
    // })
    // .data("ui-autocomplete")._renderItem = function (ul, item) {
    //   return $("<li>")
    //                   .append("<a> <img src=" + item.img_src + "></img>" + item.label + item.desc + "</a>")
    //                   .appendTo(ul);
    // };


    $("button.clear").on('click', function(e) {
      e.preventDefault();
      console.log("clicked")
      console.log($("div.result-item"));
      $("div.search-result").slideUp();
      $("div.item-info").slideUp();
      return false;
    });

    $("button.select").on('click', function(e) {
      e.preventDefault();
      console.log("clicked");
        $("div.item-info").slideDown();


      var $item       = $(".auto.result-item > .ibox-content");
      var title       = $item.find("h4").text();
      var edition     = $item.find(".edition .val").text();
      var publisher   = $item.find(".publisher .val").text();
      var isbn10      = $item.find(".isbn10 .val").text();
      var isbn13      = $item.find(".isbn13 .val").text();
      
      console.log(title)
      console.log(edition)
      console.log(publisher)
      console.log(isbn10)
      console.log(isbn13)


      var $form = $("form.listing-form");
      console.log($form)
      console.log($form.find("input.title"));
      $form.find("input.title").val(title);
      $form.find("input.edition").val(edition);
      $form.find("input.publisher").val(publisher);
      $form.find("input.isbn10").val(isbn10);
      $form.find("input.isbn13").val(isbn13);

    });


  });
</script>

<script type="text/javascript">
$(document).ready(function () {

  $("#search-box").autocomplete({
    source: get_airports,
    minLength: 5
  })
  .data("ui-autocomplete")._renderItem = function (ul, item) {
    return $("<li>")
                    .append("<a> <img src=" + item.image_url + "></img>" + item.book.title + "--" + "</a>")
                    .appendTo(ul);
  };

  function get_airports(request, response) {
    var params = {
      keywords: request.term
    };
    $.get("/queries/json_completion", params, function (data) {
      response(data);
    }, "json");
  }

});

</script>