<div class="alert alert-warning" role="alert" style="<%= 'font-size:12px;' if mobile_device? %>"><i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;If you can't find the thing you want to buy, post it <%= link_to 'here', new_classified_path(listing_type: :buy) %> and we'll try our best to find you a seller in 24 hours.</div>

<div id="classifieds">
	<%= render @classifieds %>
</div>
<%= paginate @classifieds %>