jQuery ->
  $('body').prepend('<div id="fb-root"></div>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true
	status: true
	cookie: true
	xfbml: true


window.fbAsyncInit = ->
	FB.init(appId: "<%= Rails.env.production? ? '1494175740799902' : '1496050790612397' %>", cookie: true)

	$('.fb-sign-in').click (e) ->
		e.preventDefault()
		FB.login ((response) ->
			if response.authResponse
				$.ajax
					url: '/auth/facebook/callback'
					type: 'POST'
				  ),
				  scope: 'email'

	$('#sign_out').click (e) ->
		FB.getLoginStatus (response) ->
		  FB.logout() if response.authResponse

		# window.location = '/auth/facebook/callback'
