.mobile {
	.navbar-form {
		border: none;
		margin: 0;
	}

	.classified {
		padding: 6px 10px;
	}
	
	.title {
		font-size: 1.5em;
		line-height: 1.3;
	}
	
	.box {
		//border-radius: 0px;
	}
	
	select#filters_college_id {
		border: none;
		background-color: inherit;
		padding: 0px;
	}
}