.mobile {
	.navbar-form {
		border: none;
		margin: 0;
	}

	.classified {
		padding: 6px 10px;
	}
	
	.title {
		font-size: 1.5em;
		line-height: 1.3;
	}
	
	select#filters_college_id {
		border: none;
		background-color: inherit;
		padding: 0px;
		overflow: hidden;
		text-overflow: hidden;
	}
	
	.categories {
		margin-left: 40px;
		margin-top: 0px;
		
		.list-group-item {
			background-color: inherit;
			border: none;
		}
	}
}