body {
	background-image: image-url("mit.jpg"); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.intro {
	color: white;
	text-align: center;
	position: relative;
	margin-top: 75%;
	vertical-align: middle;
	text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.black-box {
	border-radius: 6px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	background: black;
	font-size: 12px;
	padding: 20px;
	opacity: 0.7;
}

.ui-block {
	padding: 1em;
	text-align: center;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-bottom: 0.2em;
	font-size: 1em;
	
	.icon {
		font-size: 2.5em;
	}
}