<div class="box col-md-12" style="padding: 70px">
	<h4 style="margin-bottom:40px">Student Ambassador Program</h4>
	<p class="lead" style="font-size:20px">
		Help us spread the word about Pajamadeals as a College Ambassador at your college! We're expanding rapidly and we're looking for a few social, well connected, and resourceful students to share the #PajamadealsLove in their college.
	</p>
	<p class="lead" style="font-size:20px">
		Students in this role will be the voice of Pajamadeals on campus and in their local community. You will work directly with our strategic team to help us acquire new users on the both seller and buyer side of business. We'll identify partnership opportunities through student clubs and awesome events going on around town.
	</p>
	<p class="lead" style="font-size:20px">
		This is a tremendous opportunity for you to make a large impact, have fun, and help us grow the Pajamadeals brand in your community. We'll provide you with all the resources and training you'll need to crush it!
	</p>
	
	<h6>So, what's in it for me?</h6>
	<ul class="points">
		<li>
			 Invaluable experience to work closely with a rapidly growing startup to add to your resume
		</li>
		 <li>Certificate of experience</li>
		<li>Chance to meet CEO/CTO of a new startup every weekend</li>
		<li>VIP access to events</li>
		<li>Pajamadeals credits and swag</li>
		<li> Parties, fancy dinners, great hangouts, music concerts and movie tickets</li>
		<li> Strong letter of recommendation for the best performers to help in future job search</li>
	
	</ul>
	
	<h6>Who's Pajamadeals?</h6>
	<p class="lead" style="font-size:20px">
		Pajamadeals is an online marketplace for your college with logistics and cash handling built in, to give buyers and sellers an out of the world transaction experience.
	</p>
	<br>
	<p class="lead">
		Think you've got what it takes? Fill out the application below!
	</p>
	<hr class="hr-dashed" style="margin-bottom:50px"></hr>
	<%= render 'form' %>
</div>

<style>
.points {
	margin-bottom:30px;
}

.points li {
	font-weight: 300;
	font-size: 15px;
}

.lead {
	font-size: 20px;
}
</style>