<!-- <div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">© 2014 - Site Built By Mr. M.
      <a href="http://tinyurl.com/tbvalid" target="_blank">HTML 5 Validation</a>
    </p>

    <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>&nbsp; Subscribe on YouTube
    </a>
  </div>
</div> -->

<div class="navbar navbar-default navbar-fixed-bottom" style="background-color: #323637; min-height: 30px !important; height: 30px !important;">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-8">
<!--           <a class="link" href="/about/">About</a>
          <a class="link last_link" href="https://secure.machinio.com/advertise">Pricing</a>
          <a class="link" href="/privacy/">Privacy Policy</a>
          <a class="link" href="/tos/">Terms of Use</a>
          <a class="link" href="/partners/">Partners</a>
          <a class="link" href="/sitemap/">Sitemap</a>
          <a class="link" href="/contact/">Contact Us</a> -->
        <ul class="nav navbar-nav navbar-right session-options" style="margin-top: 0px !important;">
          <li><a style="color: white; padding-top: 5px !important;">+91-9779860223</a></li>
          <li><a style="color: white; padding-top: 5px !important;">bhushanlodha@gmail.com</a></li>
          <li><a style="color: white; padding-top: 5px !important;">pajama inc.</a></li>          
        </ul>
      </div>
    </div>
  </div>
</div>