 <header>
  <nav class="navbar navbar-inverse navbar-embossed" role="navigation">

  <div class="container-fluid">

    <div class="navbar-header col-sm-2">
      <!-- <a class="navbar-brand" href="#">has stuff</a> -->
      <div class="row logo" style="padding-bottom: 0px; margin-bottom: 0px;">
        <a href="/"><img src="/assets/logo.png"></a>
      </div>
<!--       <div class="row" style="padding-top: 0px; margin-top: -15px; color: white;">
        <span class="tagline" style="font-size: 10px; color: #F0F8FF">for students. by students.</span>
      </div> -->
    </div>


    <div class="col-sm-8 search-container" id="bs-example-navbar-collapse-1">
      <form class="navbar-form" role="search">
        <div class="form-group col-sm-9">
          <input type="text" class="form-control" id="search-box" placeholder="Search by title or isbn" style="width: 100%">
        </div>
        <button type="submit" class="btn btn-primary search">Search</button>
      </form>
    </div>
    
  </nav>
</header>

<style type="text/css">

.logo a:hover {
  background-color: #2a3947;
  text-decoration: none;
}
.search-container .form-group.col-sm-9 {
  padding-right: 0px;
}


.navbar-header .navbar-brand {
  font-size: 17px;
  color: white;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

#bs-example-navbar-collapse-1.search-container {
  margin-left: 2%;
}
.navbar-header {
  margin-left: 15px !important;
}

.btn.search {
  padding: 6.5px 15px 6.5px 15px;
}

.session-options {
  margin-left: -12px;
}
</style>